{
  "jsc": {
    "parser": {
      "syntax": "ecmascript"
    },
    "baseUrl": ".",
    "target": "es2020"
  },
  "env": {
    "targets": {
      "node": 16
    }
  },
  "module": {
    "type": "commonjs"
  },
  "minify": true
}
